        *{
            box-sizing: border-box;
            margin: 0;
        }
        nav{
            float: left;
            height: 50px;
            width: 100%;
        }
        body{
            font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.43;
            color: #484848;
            background-color: #fff;
            -webkit-font-smoothing: antialiased;
        }

        .nav-area {
            max-height: 50px;
            width: 100%;
            float: left;
        }

        .top-search {
            height: 50vh;
            background: linear-gradient(to bottom right, rgb(0, 4, 126) 70%, rgba(255, 207, 55, 0.83) 30%);
        }

        .search-area {
            position: relative;
            left: 5%;
            width: 90%;
            float: left;
            margin-top: 50%;
            min-height: calc(100vh - 300px);
        }

        input.search-form {
            border: none;
            height: 45px;
            border-radius: 5px;
            width: 100%;
            outline: none;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 16px;
            padding-right: 83px;
            box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.11);
            font-family: 'Amaranth', sans-serif;
            color: #444;
            font-size: 16px;
        }

        h3.search-title {
            font-size: 18px;
            margin-bottom: 8px;
            font-family: 'Signika', sans-serif;
            color: #002a7e;
            line-height: 24px;
        }

        .search-area i.fas.fa-search {
            position: absolute;
            bottom: 58px;
            font-size: 21px;
            color: #00047e;
            left: 23px;
            display: none;
        }

        .search-area .btn-search {
            border: none;
            border-radius: 3px;
            padding: 8px 10px;
            font-size: 14px;
            background-color: transparent;
            color: #fff;
            position: relative;
            right: 0;
            float: right;
            outline: none;
            top: -45px;
            left: -10px;
            cursor: pointer;
        }

        .search-area .btn-search img{
            height: 30px;
        }
        
        #cancel-search{
            position: absolute;
            float: right;
            bottom: 58px;
            right: 110px;
            font-size: 17px;
            cursor: pointer;
            display: none;
        }
    .nav-list{
        float: right;
        width: 50%;
    }

    .brand-area{
        width: 20%;
    }

    .nav-list{
        float: right;
        width: 50%;
    }

    .brand-area {
        width: 100%;
        padding: 10px;
        max-height: 62px;
        display: block;
    }

    .brand-area img{
        height: 50px;
    }

    .nav-pages {
        width: 100%;
        float: left;
        height: 100%;
        padding: 0 50px;
        background: #ffc001;
    }

    .mobile-nav {
        width: 62px;
        height: 38px;
        padding: 10px 15px 0px 0px;
        position: absolute;
        right: 0px;
        font-size: 25px;
    }

    .mobile-menu{
        float: right;
        line-height: 42px;
    }

    .top-newsletter{
        width: 50%;
        float: right;
        height: 100%;
    }

    .nav-pages ul li {
        list-style: none;
        line-height: 49px;
        padding-right: 0px;
        color: #fff;
        font-size: 17px;
        display: inline-block;
    }

    .nav-pages ul li a{
        color: #fff;
    }

    .nav-sub {
        width: 100%;
        height: 50px;
        display: block;
    }

    li.nav-pages {
        float: left;
        list-style: none;
        padding-right: 10px;
        margin: 13px;
    }
    li.nav-pages a{
        text-decoration: none;
        font-family: 'Cabin Condensed', sans-serif;
        padding-bottom: 5px;
        transition: cubic-bezier(0.47, 0, 0.745, 0.715) box-shadow 0.3s;
        color: #fff;
    }

    li.nav-pages a:hover{
        box-shadow: 0px 3px 0px 0px rgba(255,255,255);
    }

    .main-content {
        width: 100%;
        padding: 0 13px;
        float: left;
        padding-bottom: 80px;
        padding-top: 30px;
        min-height: calc(100vh - 100px);
    }

    .full-sect{
        width: 100%;
        float: left;
        padding-top: 20px;
    }

    .header {
        width: 100%;
        margin-bottom: 10px;
        color: #525252;
        font-size: 16px;
        text-align: left;
        float: left;
        font-family: 'Chivo', sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    button.recentSearch {
        border: none;
        padding: 10px;
        background-color: #fff;
        box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.5);
        margin-right: 10px;
        transition: all 0.5s;
        border-radius: 2px;
        cursor: pointer;
        outline: none;
    }

    button.recentSearch:hover{
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
    }

    .top-sect {
        height: 111px;
        width: 100%;
        padding: 0px 10px;
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .top-sect .brand{
        width: 10%;
        float: left;
        height: 20px;
    }

    .top-sect .search-box-result {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }

    .top-sect input.search-form {
        border: none;
        height: 45px;
        width: 100%;
        outline: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 49px;
        box-shadow: 0px 0 6px 1px rgba(0, 0, 0, 0.11);
        transition: 0.4s all;
        font-family: 'Amaranth', sans-serif;
        color: #444;
        font-size: 16px;
        position: relative;
        top: -31px;
    }

    .top-sect input.search-form:hover{
        box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.11);
    }

    .top-sect button {
        position: relative;
        right: 20px;
        top: 10px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        float: right;
    }

    .search-box-result form{
        width: 100%;
        height: 50px;
    }



    .top-sect button i.fas.fa-search{
        font-size: 15px;
        color: #00047e;
    }

    .result-main-content {
        width: 100%;
        padding: 10px 10px;
        float: left;
    }

    .result-main-content .result-content{
        width: 100%;
    }

    .result-suggested-searches button.resultSearch {
        border: none;
        padding: 10px;
        background: none;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(220, 224, 224);
        margin-right: 10px;
        transition: all 0.5s;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        text-align: left;
        max-width: 118px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .resultSearch, .btn-neutral {
        border: none;
        padding: 10px;
        background: none;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(220, 224, 224);
        margin-right: 10px;
        transition: all 0.5s;
        margin-bottom: 5px;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        color: #055;
        outline: none;
    }

    .result-suggested-searches .resultSearch:hover {
        transition: 0.3s all;
        background: rgb(0, 4, 126);
        color: #fff;
        border-color: rgb(242, 242, 242);
        border-radius: 5px !important;
        max-width: 100%;
    }

    .resultSearch:hover, .btn-neutral:hover, .btn-neutral:active, .btn-neutral:visited, .btn-neutral:focus {
        background: rgb(0, 4, 126);
        color: #fff;
        border-color: rgb(242, 242, 242);
        border-radius: 5px !important;
    }

    .result-suggested-searches {
        border-bottom: 1px solid #ccc;
        float: left;
        width: 100%;
    }

    .yellow-stroke{
        width: 100%;
        height: 50px;
        background-color: rgb(255,207,55);
    }

    .result-detail{
        color: #737373;
        font-weight: 600;
        width: 100%;
        font-size: 12px;
        display: block;
    }

    .single-result {
        float: left;
        width: 100%;
        padding-top: 20px;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .single-result h3{
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 5px;
    }

    .result_link{
        color: rgb(0, 4, 126);
        text-decoration: none;
    }

    .result_link:hover{
        text-decoration: underline;
    }

    .link{
        text-align: right;
        float: right;
        line-height: 36px;
        text-decoration: none;
        color: #333;
    }

    footer {
        float: left;
        display: block;
        width: 100%;
        height: 100px;
        border-top: 1px solid #ccc;
        background-color: #f3f2f2;
        position: relative;
        bottom: 0;
        padding: 0 10px;
    }


    
    footer ul li {
        float: left;
        padding-right: 15px;
        list-style: none;
        line-height: 30px;
    }

    footer ul{
        float: left;
        padding: 0;
    }

    footer ul li a{
        color: #6f6f6f;
        text-decoration: none;
        line-height: 50px;
    }

    .footer-supp {
        float: left;
        width: 100%;
        height: 35px;
    }

    .footer-sec {
        width: auto;
        line-height: 30px;
        text-align: left;
    }

    .footer-copy{
        width: auto;
        display: inline;
        line-height: 50px;
        float: right;
    }

    .pagination{
        width: 100%;
        float: left;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pagination ul {
        float: left;
        width: 100%;
        display: block;
        margin-left: 0;
        padding-left: 0;
    }

    .pagination ul li {
        float: left;
        list-style: none;
        padding-right: 5px;
        margin-bottom: 18px;
    }

    .pagination ul li a{
        background-color: rgb(255, 207, 55);
        padding: 8px 15px;
        color: #ffffff;
        border-radius: 2px;
        border-width: 0.45px;
        border-width: 1px;
    }

    .pagination ul li a.active{
        background-color: rgb(0, 4, 126);
    }

    .pagination ul li a.disabled{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 4, 126);
        border: 1px solid;
        border-color: rgb(0, 4, 126);
    }

    .signup-sect {
        width: 100%;
        padding: 20px 25px;
        background-color: #fff;
        color: #aaa;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
        display: inline-block;
        position: relative;
    }

    .center-page{
            width: 100%;
            padding: 40px 5px;
            display: inline-block;
            position: relative;
            right: 0%;
    }

    .title{
        font-size: 20px;
        font-weight: 400;
        text-align: left;
    }

    .white-text{
        color: #fff;
    }

    .form_c{
        display: block;
        height: 32px;
        border-radius: 1px;
        border: 1px solid #ccc;
        outline: none;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 500
    }

    .form_full{
        width: 100%;
    }

    .form_half{
        float: left;
        width: 100%;
        display: inline !important;
    }

    label.form_half{

    }

    .pull-right{
        float: right;
    }

    .pull-left{
        float: left;
    }

    .form-group-half{
        width: 48%;
        display: inline-block;
    }
    .form-container{
        float: left;
    }

    .form-container label{
        float: left;
        color: #777777;
    }

    .form-container label {
            color: #635353;
            text-shadow: 0px 0px #463636;
            font-size: 16px;
            width: 100%;
    }

    .form-container textarea {
        height: 100px;
    }

    .form-group{
        width: 100%;
        float: left;
        margin-top: 15px;
    }

    .btn{
        background-color: rgb(0, 4, 126);
        color: #fff;
        border-color: rgb(242, 242, 242);
        border-radius: 3px !important;
        border: none;
        padding: 12px 18px;
        cursor: pointer;
        outline: none;
    }

    .btn:active{
        background-color: rgb(1, 4, 102);
        color: rgb(65, 64, 64);
        text-shadow: 1px 1px #000;
    }

    .page-header{
        background-color: rgba(255, 207, 55, 0.83);
    }

    h4.title {
        color: #3e3e3e;
        font-size: 25px;
    }

    .group-checkbox{
        width: 100%;
        display: block;
        float: left;
        margin-top: 5px;
        height: auto;
    }

    .group-checkbox input[type=checkbox]{
        float: left;
        margin-top: 2px;
        border: none !important;
        margin-right: 2px;
    }

    .form-group small{
        float: left;
        width: 100%;
        display: block;
    }

    p.indu_check {
        width: 87%;
        display: inline-block;
        float: right;
        font-size: 10px;
        margin-bottom: 5px;
    }

    .alert-error{
        padding: 20px;
        background-color: rgb(197, 93, 93);
        border-radius: 5px;
        color: #fff;
    }

    .alert-success{
        padding: 20px;
        background-color: rgb(0, 4, 126);
        border-radius: 5px;
        color: #fff;
    }

    .alert-list{
        list-style: none;
    }

    .login-msc{
        float: left;
        margin-top: 10px;
        width: 100%;
        display: block;
    }

    a{
        color: #00047e;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    .overlay{
        display: none;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .modal-feedback {
        background: #fff;
        position: relative;
        margin: 10% auto;
        border-radius: 3px;
        opacity: 1;
        z-index: 999999;
        padding: 20px;
        width: 90%;
        max-height: 479px;
        min-height: 100px;
        height: 100%;
    }
    
    .close{
        cursor: pointer;
        font-size: 16px;
        color: #111;
    }

    p.search-time {
        margin-bottom: 10px;
    }

    .display-large{
        display: block;
    }

    .display-small{
        display: block !important;
    }

    .text-logo {
        text-align: center;
        font-size: 30px;
        color: rgb(0, 4, 126);
        max-height: 50px;
    }

    .mobile-menu-pop{
        float: right;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #ffcf37;
        z-index: 1;
        transition: transform 2s;
        transform: translate(100%);
        display: none;
        top: 0;
    }

    .mobile-menu-pop .close {
        font-size: 28px;
        padding: 5px 30px;
        width: 100%;
        display: block;
    }

    .mobile-menu-pop ul{
        display: block;
        width: 100%;
        padding: 0;
    }

    .mobile-menu-pop ul li{
        list-style: none;
        text-align: center;
        font-size: 28px;
        line-height: 71px;
    }

    
    .no_border{
        border: none !important;
        box-shadow: unset !important;
    }

    .size-1, .size-2, .size-3, .size-4, .size-5, .size-6, .size-7, .size-8, .size-9, .size-10{
        width: 100%;
        margin-bottom: 20px;
    }

    .ad-banner {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        float: left;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        box-shadow: inset -1000px -1000px 19px 20px rgba(0, 0, 0, 0.82);
        display: none;
    }

    .ad-banner .header .size-7{
        width: 80%;
    }

    .ad-banner .header .size-3{
        width: 20%;
    }

    blockquote{
        float: left;
        color: #fff;
        font-style: italic;
        font-size: 25px;
    }

    .ad_close{
        float: right;
    }

    .ad_close:hover{
        text-decoration: none;
    }

    .padding_100{
        padding: 100px 15px 80px 10px;
    }

    .ad-image{
        float: left;
        margin: 20px 0;
        width: 100%;
    }

    .ad-image img{
        height: 150px;
    }

    .medium-text{
        font-size: 150%;
    }

    .italics{
        font-style: italic;
    }

    .btn-search img{
        height: 30px;
    }

    .old-results{
        color: #aaa; 
        text-decoration:underline;
    }

    .form-group-half{
        border-radius: 3px;
        cursor: pointer;
        padding: 5px 10px 5px 10px;
        display: inline-block;
    }

    .checkboxes:hover{
        background: linear-gradient(to left, #ffc200 10%, rgb(255, 233, 162) 100% );
    }

    .form_c{
        float: left;
        border-radius: 3px;
        color: #7b6565;
        font-weight: 500;
        font-family: tahoma;
        -webkit-font-smoothing: subpixel-antialiased;
        resize: none;
    }

    textarea{
        padding-top: 5px;
    }

    .form_c:focus, .form_c:hover{
        box-shadow: 0 0 1pt 2pt #ffc200;
    }

    label.indu_check{
        width: 92%;
        display: inline-block;
        float: left;
        cursor: pointer;
        color: #aaa;
        font-size: 11px;
        margin-bottom: unset !important;
    }

    .checkboxes:hover label.indu_check{
        color: #032c7f;
    }
    .container{
        margin-bottom: 20px;
        float: left;
        margin-top: 20px;
        padding: 0 1px;
        min-height: calc(100vh - 154px);
        width: 100%;
    
    }
    
    .people-grid {
        width: 30%;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        border-radius: 3px;
        height: 145px;
        max-height: 145px;
        display: inline-block;
        float: left;
        overflow: hidden;
        margin-right: 10px;
        transition: 0.5s;
        position: relative;
    }
    
    
    .people-grid:nth-child(4){
        margin-right: 0 !important;
    }
    
    .people-grid .people-up{
        width: 100%;
        height: 60%;
        padding: 4px;
        overflow: hidden;
        background-size: cover;
    }
    
    .people-grid .people-title{
        font-weight: 500;
        color: #00047e;
        text-align: center;
        width: 100%;
        font-size: 14px;
        padding-top: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .people-grid .people-desc {
        width: 100%;
        font-size: 12.6px;
        text-align: center;
        color: #676767;
    }
    
    .people-grid .people-down{
        max-height: 40%;
        width: 100%;
        border-top: 1px solid #aaa;
    }
    
    .people-grid:hover {
        box-shadow: 1px 1px 8px 0px rgb(224, 224, 224);
        /* border: none; */
        transform: scale(1.05);
        transition: 0.1s;
        z-index: 9999999;
        transition-timing-function: ease-out;
    }
    
    .people-link{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
    }
    
    @keyframes example {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
    }
    
    @keyframes genie{
        0%{
            transform: scale(0.3)
        }
    
        25%{
            transform: scale(0.4)
        }
    
        75%{
            transform: scale(0.3)
        }
    
        100%{
            transform: scale(0.4)
        }
    }
    
    .genie_loader{
        animation-name: genie;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
     }
    
     .figure{
            height: 40px;
            width: 40px;
            border-radius: 40px;
            background-color: #2d4991;
            display: inline-block;
            line-height: 0;
            text-align: center;
            color: #fff;
            font-size: 20px;
            z-index: 99999;
     }
    
     .figure::before {
        height: 500px;
        border: 1px solid #2d4991;
        content: "";
        position: relative;
        font-size: 86px;
        top: 89px;
        align-items: center;
        left: 8px;
        z-index: 1;
    }
    
    .figure:last-child::before {
        font-size: 20px;
    }
    
    .figure::after {
        height: 500px !important;
        border: 1px solid #2d4991;
        content: "";
        position: relative;
        top: -30px;
        align-items: center;
        left: -7px;
        z-index: 1;
    }
    
    .step-sect p{
    
        float: right;
        margin-left: 20px;
    
    }
    
    .tpad{
        padding-top: 50px;
    }
    
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
        width: 100%;
        float: left;
        display: block;
    }
    
    .fine-title{
        font-weight: lighter;
        font-size: 18px;
        color: #2d4991;
    }
    
    .steps{
        width: 100%;    
    }
    
    .step1{
        border: 0.5px solid #d6d5d5;
        background-color: #f1f1f1;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        height: auto;
        padding: 5px 10px;
        float: left;
        width: 100%;
    }
    
    .step2{
        border: 0.5px solid #d6d5d5;
        background-color: #f1f1f1;
        height: 100px;
        padding: 5px 10px;
        float: left;
        width: 100%;
    }
    
    .social_sign_up .bg-text{
        font-size: 60px;
        position: absolute;
        opacity: 0.1;
        z-index: 1;
    }
    
    .social_sign_up p {
        line-height: 20px;
        margin-top: 14px;
        padding-left: 4px;
        color: #333;
        font-size: 18px;
        z-index: 999999;
        font-weight: 500;
        text-align: center;
    }
    
    a.lnkdin.fab.fa-linkedin-in {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: #0077B5;
        text-align: center;
        display: inline-block;
        line-height: 50px;
        font-size: 25px;
        color: #fff;
        text-decoration: none;
    }
    
    a.fcbk.fab.fa-facebook-f {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: #3B5998;
        text-align: center;
        display: inline-block;
        line-height: 50px;
        font-size: 25px;
        color: #fff;
        text-decoration: none;
    }
    
    a.twtt.fab.fa-twitter {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        text-align: center;
        display: inline-block;
        line-height: 50px;
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        background-color: #55acee;
    }
    
    .social_login_container{
        margin-bottom: 20px;
    }
    
    .social_login_container::before{
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    
    .people_profile{
        margin-top: 0 !important;
        background-color: #aaa;
    }
    
    .profile-header{
        height: 200px;
        float: left;
        width: 100%;
        background: linear-gradient(to right, rgb(0, 4, 126) 50%, rgb(53, 58, 206));
        padding: 20px;
    }
    
    .person-details h2{
        color: #fff;
        font-size: 40px;
    }
    
    .person-details h6{
        color: #e4e4e4;
        font-size: 18px;
        display: inline-block;
        float: left;
    }
    
    .person-details span{
        color: #ccc;
        padding-left: 20px;
    }
    
    .profile-picture{
        height: 60px;
        width: 60px;
        position: absolute;
        border: 1px solid #aaa;
        margin-top: 20px;
        overflow: hidden;
    }
    
    .profile-picture img{
        width: auto;
        height: 100%;
    }
    
    .people_profile {
        margin-top: 0 !important;
        background-color: #f3f3f3;
        float: left;
        width: 100%;
    }
    
    .detail-sect {
        min-height: 200px;
        padding: 10px 30px;
    }
    
    .sect_header{
        font-size: 18px;
        font-weight: 500;
    }
    
    .nav-pages a{
        font-weight: 600;
    }
    
    .detail-list{
    
    }
    
    .block-display{
        width: 100%;
        display: block;
    }
    
    .profile_sect_header{
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    
    .profile-modal-title{
        color: #3e3e3e;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 5px;
    }
    
    .bold_1x{
        font-weight: 600;
        color: #02297d;
    }
    
    .bold_2x{
        font-weight: 800;
        color: #02297d;
    }
    
    .hidden{
        opacity: 0;
        display: none;
    }
    
    .hr-slider{
        width: 100%;
        height: 44px;
        position: relative;
        float: left;
        overflow: hidden;
    }
    
    .hr-slider .nav-right{
        background: #fff;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.34);
        height: 40px;
        width: 40px;
        border-radius: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        position: absolute;
        right: 8px;
        top: 1px;
        z-index: 1;
    }
    
    .hr-slider .nav-left {
        background: #fff;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.34);
        height: 40px;
        width: 40px;
        border-radius: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        position: absolute;
        left: 8px;
        top: 1px;
        z-index: 1;
    }
    
    .hr-slider ul{
        float: left;
        height: 40px;
        display: -webkit-inline-box;
    }
    
    .hr-slider ul li{
        list-style: none;
        position: relative;
        transition: 0.5s;
    }
    
    .hr-slider ul li a{    line-height: 43px;}

    .list-items-hr{
        float: left;
        width: 100%;
        align-items: center;
        padding-left: 0;
    }
    
    .list-items{
        list-style: none;
        float: left;
        width: 25%;
        text-align: center;
    }
    
    .list-items a {
        color: #ffc202;
        font-weight: 600;
    }

    ul.center {
        background: #ffc001;
        padding: 0;
    }

    .lrvt-caret{
        color: #00047e;
    }

    .lrvt-caret:active, .lrvt-caret:focus, .lrvt-caret:hover{
        text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.52);
    }

    .lrvt-content{
        background-color: #fff;
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        padding: 10px;
        border-radius: 3px;
        border-color: rgba(0, 0, 0, 0.08);
        border-width: 1px;
        border-style: solid;
        position: relative;
        left: 30px;
        top: 1px;
    }