.modal-feedback{
    background: #fff;
    position: relative;
    margin: 10% auto;
    border-radius: 3px;
    opacity: 1;
    z-index: 999999;
    padding: 20px;
    width: 35%;
    max-height: 450px;
    min-height: 100px;
    height: 100%;
}

.signup-sect {
    width: 100%;
    padding: 20px 25px;
    background-color: #fff;
    color: #aaa;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
    display: inline-block;
    position: relative;
}

.center-page{
    width: 50%;
    padding: 40px 25px;
    display: inline-block;
    position: relative;
    right: -25%;
}

.title{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.white-text{
    color: #fff;
}

.form_c{
    display: block;
    height: 32px;
    border-radius: 1px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500
}

.form_full {
    padding-left: 10px;
    width: 98%;
}

.form_half{
    float: left;
    width: 100%;
    display: inline !important;
}

label.form_half{

}

.pull-right{
    float: right !important;
}

.pull-left{
    float: left !important;
}

.form-group-half{
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    display: inline-block;
}

.checkboxes:hover{
    background: linear-gradient(to left, #ffc200 10%, rgb(255, 233, 162) 100% );
}

.form_c{
    float: left;
    border-radius: 3px;
    color: #7b6565;
    font-weight: 500;
    font-family: tahoma;
    -webkit-font-smoothing: subpixel-antialiased;
    resize: none;
}

textarea{
    padding-top: 5px;
}

.form_c:focus, .form_c:hover{
    box-shadow: 0 0 1pt 2pt #ffc200;
}

.form-container label{
    float: left;
    color: #777777;
}

.form-container label {
        color: #635353;
        text-shadow: 0px 0px #463636;
        font-size: 16px;
        width: 100%;
}

.form-container textarea {
    height: 100px;
}

.form-group{
    width: 100%;
    float: left;
    margin-top: 15px;
}

.btn{
    background-color: rgb(0, 4, 126);
    color: #fff;
    border-color: rgb(242, 242, 242);
    border-radius: 3px !important;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    outline: none;
}

.btn:active{
    background-color: rgb(1, 4, 102);
    color: rgb(65, 64, 64);
    text-shadow: 1px 1px #000;
}

.page-header{
    background-color: rgba(255, 207, 55, 0.83);
}

.overlay{
    display: block;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.form-container{
    display: none;
}

.col1{
    width: 8%;
}

.col2{
    width: 16%;
}

.col3{
    width: 24%;
}

.col4{
    width: 32%;
}

.col5{
    width: 40%;
}

.col6{
    width: 50%;
}

.col7{
    width: 58%;
}

.col8{
    width: 66%;
}

.col9{
    width: 74%;
}

.col10{
    width: 82%;
}

.col11{
    width: 90%;
}

.col12{
    width: 100%;
    float: left;
}

.tags-list-links{
    width: 97%;
    padding: 9px;
    background-color: #cccc;
    float: left;
    height: 100%;
    overflow: hidden;
}

.tags-list-links:hover{
    background-color: #9a9a9acc
}

.tag-list{
    color: #737373;
    text-decoration: none;
    font-family: arial;
    font-size: 13px;
}

.tag-list:hover{
    color: #fff;
}

.tag-control{
    font-size: 13px;
    float: right;
    text-align: right;
    color: #463636;
}

.tag-control:hover{
    color: #222;
}