<div style="margin: 0 5%;">
        <div style="width: 100%; display: block; margin-bottom: 10px; float: left; border-bottom: 1px solid #00297d;">
            <a href="https://www.lorveet.com?_src=emailMarketing&_isGenie=true">
                <img src="https://www.lorveet.com/assets/img/lorveet_logo.png" style="float: left;position:relative;height: 30px;" height="30" alt="">
            </a>
            <p style="float: right;width: 80%;font-size: 16px;margin-bottom:  0;text-align:  right;position:  relative;color: #00297d;">{alert-title}</p>
        </div>
        <div style="width: 100%; display: block; float: left;">
            <p style="color: #072e80;font-weight:  600;font-size: 16px;margin-bottom: 15px;">{salutation}</p>
            <p style="font-size: 23px; color: #4c4b4b; margin-bottom: 0px;">
                {big-title}
            </p>
        </div>
        <div style="width: 100%; display: block; float: left;">
            <p>
                {message}
            </p>
        </div>
        <div style="width: 100%; display: block; margin-top: 15px; float: left;">
            <i>This mail was sent automatically from lorveet.com and intended for the email address mentioned above. 
                If you receive this mail by mistake, kindly delete it. Thanks.</i>
        </div>
        <div style="width: 100%;display: block;margin-top: 15px;float: left;height: 180px;background-color:#eee;padding: 0 20px;">
            <div style="float: left;width: 50%;display:  inline-block;">
                <h4 style="color: #444;margin-bottom: 0;font-size:  20px;color: #0d3282;">Follow us on social media</h4>
                <a href="https://www.facebook.com/lorveet" style="margin-top: 10px;display: inline-block;color: #fff;">
                    <img src="https://www.lorveet.com/assets/img/socials/facebook.png" alt="" style="height: 50px;">
                </a>
                <a href="https://www.instagram.com/lorveet" style="margin-top: 10px;display: inline-block;color: #fff;">
                    <img src="https://www.lorveet.com/assets/img/socials/instagram.png" alt="" style="height: 50px;">
                </a>
                <a href="https://www.twitter.com/lorveet" style="margin-top: 10px;display: inline-block;color: #fff;">
                    <img src="https://www.lorveet.com/assets/img/socials/twitter.png" alt="" style="height: 47px;">
                </a>
            </div>
            <div style="float: right;width: 50%;display:  inline-block;">
                <a href="https://www.lorveet.com?_src=emailMarketing&_isGenie=true">
                    <img src="https://www.lorveet.com/assets/img/lorveet_logo.png" style="float: right;position:relative;height: 80px;margin-top:  20px;" alt="">
                </a>
            </div>
            <center style="float:  left; width:  100%; display:  block;">
                <h4 style="color: #444;margin-bottom: 0;font-size:  16px; float: right; text-align:right;color: #aaa;">Copyright 2018. Lorveet.</h4>                       
            </center>
        </div>
</div>