<body font="Circular,Helvetica Neue,Helvetica,Arial,sans-serif" style="font-family: Circular,'Helvetica Neue',Helvetica,Arial,sans-serif; font-family: Circular,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.43;color: #484848;background-color: #fff;-webkit-font-smoothing: antialiased;">
    <div style="padding:10% 20%">
        <div style="border-bottom: 1px solid #eeeeee">
            <img src="https://www.lorveet.com/assets/img/lorveet_logo.png" alt="Lorveet Logo" height="50">
        </div>
            <div style="width: 100%;">
                <h2 style="color: #00297d">
                    Hello {name}, here are the jobs we found for you today
                </h2>
                {content}
            </div>
            <div style="border-top: 1px solid #eeeeee; margin-top: 30px;">
                <i style="color: #52047e; float: left; margin-top: 15px;">You are receiving this alert because you are subscribed to lorveet.com</i>
            </div>
        </div>
    </div>
</body>