body{
    background-color: #eee;
}

.inline-display{
    display: inline-block;
}

.text-center{
    text-align: center;
    padding: 30%;
}

.product-image{
    max-height: 219px;
    max-width: 142px;
    width: auto;
    display: inline-block;
}

.product-name{
    text-align: left;
}

.store-summary{
    background-color: #fff;
    box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    float: left;
    max-height: 247px;
}

.store-summary .col-md-4{
    border-right: 1px solid #f1f0f0;
    display: inline-block;
    height: 100%;
    min-height: 200px;
}

.store-summary .col-md-4:last-child{
    border-right: none;
    border: none;
}

small{
    text-align: center;
    display: block;
    font-size: 15px;
    color: #ccc;
}

.fore-front-text{
    text-align: center;
    font-size: 80px;
    color: #9fc538;
    padding-top: 20px;
}

.store-headline{
    FONT-SIZE: 12px;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.conversion-summary{
    background-color: #fff;
    box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    float: left;
    max-height: 450px;
    height: 450px;
}

.products-summary{
    background-color: #fff;
    box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    min-height: 280px;
}

.col-lg-12{
    margin-bottom: 20px;
}

tr.no-border th{
    border: none;
}

.feedback-box{
    border: 1px solid #ddd;
    min-height: 76px;
    max-height: 160px;
    padding: 10px;
    margin: 36px;
    font-size: 13px;
    float: left;
    border-radius: 0px;
    box-shadow: 1px 1px 5px 0px rgb(238, 238, 238);
}
.feedback-username{
    padding: 0;
}    

small.ending-remarks{
    margin-top: 8px;
    text-align: left;
    font-size: 12px;
    color: #000;
    font-style: italic;
}

.feedback-slug{
    height: 50px;
    padding: 0;
    width: 50px;
    border: 1.2px solid grey;
}

.vendor-slug{
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    overflow: hidden;
    background-color: red;
}

.vendor-slug img{
    height: 45px;
}

.logout a{
    color: #fff;
}
.logout{
    width: 50px;
    margin: 0 30px;
}

.vendor-dropdown{
    display: none;
    top: 61px;
    z-index: 999999;
    right: 80px;
    bottom: 100px;
    width: 133px;
    border-radius: 1.3px;
    position: fixed;
    background-color: #9fc538;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
    height: 120px;
}

.vendor-dropdown-item{
    display: block;
    height: 33px;
    color: #fff;
    width: 100%;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    line-height: 20px;
}
.vendor-dropdown-item:hover{
    background-color: #7b982d;
    color: #fff;
    text-decoration: none;
}

.single-product-image{
    display: inline-block;
    max-height: 300px;
    min-height: 200px;
    float: left;
    border-radius: 2px;
}

.single-product-description{
    display: inline-block;
    float: left;
}

.single-product-description h6{
    font-weight: 400;
    font-size: 15px;
}

.single-product-sidebar{
    display: inline-block;
    float: right;
    border-radius: 3px;
    border: 1.2px solid #7b982d;
}

.dropdown-sidebar{
    display: none;
    position: absolute;
    width: 187px;
    height: 91px;
    background-color: #7b982d;
    z-index: 99999;
    padding: 0;
    left: 170px;
    top: 130px;
}
.dropdown-sidebar li{
    list-style: none;
    text-align: center;
    line-height: 43px;
}

.dropdown-sidebar li a{
    color: #fff;
    height: 45px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    display: block;
}

.dropdown-sidebar li a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #627925;
}

.align-left{
    text-align: left;
}
    
.product-preview{
    max-height: 350px;
    padding: 0;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;    
    background-color: #fff;
    box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.5);
}

.product-sidebar{
    float: right;
}

.col-lg-8{
    display: inline-block;
}

.product-preview .preview-image{
    height: 180px;
    display: inline-block;
    overflow: hidden;
    max-height: 180px;
    padding: 0;
    padding-top: 10px;
}

.product-preview .preview-cost{
    float: right;
    padding: 0;
    padding-top: 10px;
}

.preview-cost-price{
    display: block;
    font-size: 12px;
    text-align: right;
    color: #d8e025;
    padding-right: 20px;
    padding-bottom: 5px;
    border-bottom: 1.4px solid #ccc;
}

.preview-cost-desc{
    display: block;
    font-size: 13px;
    line-height: 20px;
}

.product-preview .preview-cost-title{    
    font-size: 15px;
    color: #9fc538;
    line-height: 10px;
    text-align: left;
    margin-bottom: 10px;
    display: block;
}
.product-preview .preview-image img{
    height: 100%;
}

.product-tools{
    min-height: 250px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.5);
}

.product-sidebar .col-md-12{
    margin-bottom: 20px;
}

.product-image-select{
    min-height: 250px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.5);
}

#page-content-wrapper{
    height: 100ch;
}

#row{
    height: 100vh;
}

footer{
    color: #fff;
    height: 30px;
    width: 100%;
    background-color: #000;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #9fc538 !important;
}

.btn-primary {
    color: #fff;
    background-color: #9fc538 !important;
    border-color: #7b982d !important;
}

.ratings-card{
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    float: left;
    margin-bottom: 20px;
    max-height: 247px;
}

.ratings-card .col-md-7{
    float: left;
}

.ratings-card .col-md-3{
    float: left;
}

.space{
    color: #9fc538;
}

.ratings-card a{
    color: #9fc538;
}

.ratings-card .product-name{
    color: #9fc538;
}